<h2>Follow Users</h2>
<% if @users.empty? %>
  <span>ユーザーはいません</span>
<% else %>
  <div>
    <%=link_to "グループを作成する",new_group_path %> | <%=link_to "グループ一覧",groups_path %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= image_tag user.get_profile_image(50,50) %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= render 'relationships/following_count', user: user %>
          </td>
          <td>
            <%= render 'relationships/follower_count', user: user %>
          </td>
          <td>
            <%= link_to 'Show', user_path(user) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>