<h2>Users</h2>
<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= image_tag user.get_profile_image(50,50) %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          フォロー数：
            <% if user == current_user %>
              <span class="following_count_<%= current_user.id %>"><%= current_user.followings.count %></span>
            <% else %>
              <span><%= user.followings.count %></span>
            <% end %>
        </td>
        <td>
          フォロワー数：
          <span class="follower_count_<%= user.id %>"><%= user.followers.count %></span>
        </td>
        <td>
          <% if user == current_user || user.name == "guestuser" || current_user.name == "guestuser"  %>
            <div></div>
          <% else %>
            <div class="follower_<%= user.id %>">
              <%= render 'relationships/follower', user: user %>
            </div>
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>