<h2>User info</h2>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
      <th>follows</th>
      <th><%= link_to user.followings.count, user_followings_path(user) %></th>
    </tr>
      <th>followers</th>
      <th><%= link_to user.followers.count, user_followers_path(user) %></th>
    </tr>
  </tbody>
</table>
<div class="row">
  <% if current_user.name == "guestuser" %>
   <div></div>
  <% elsif user == current_user %>
    <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block edit_user_99845" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% elsif user.name == "guestuser" %>
    <div></div>
  <% else %>
    <% if current_user.following?(user) %>
      <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class:'btn btn-info' %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class:'btn btn-success' %>
    <% end %>
  <% end %>
</div>
<div>
  <% if current_user != user %>
    <%= link_to 'Begin Chat', chat_path(user.id) %>
  <% end %> 
</div>