<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>CHAT WITH <%= @user.name %></h2>
      <table class="table">
        <thead>
          <tr>
            <th style="text-align: left; font-size: 20px;"><%= current_user.name %></th>
            <th style="text-align: right; font-size: 20px;"><%= @user.name %></th>
          </tr>
        </thead>
      </table>
      
      <% @chats.each do |chat| %>
        <% if chat.user_id == current_user.id %>
          <p style="text-align: left;"><%= chat.message %></p>
        <% else %>
          <p style="text-align: right;"><%= chat.message %></p>
        <% end %>
      <% end %>
      <div class="message"></div>

      <%= form_with model: @chat, local: false do |f| %>
        <%= f.text_field :message, style: "width:100%", rows: "5" %>
        <%= f.hidden_field :room_id %>
        <%= f.submit "SEND", class:"btn btn-sm btn-success chat-btn" %>
      <% end %>

    </div>
  </div>
</div>