<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info', user: @user %>
      <%= render 'new', book: @bookw %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= image_tag @user.get_profile_image(100,100) %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to @book.title, book_path(@book) %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <td id="book_<%= @book.id %>">
              <%= render 'favorites/favorites', book: @book %>
            </td>
            <td>
              コメント数：
              <span class="comment"><%= @book.book_comments.count %></span>
            </td>
            <% if @user == current_user %>
              <td>
                <%= link_to 'Edit', edit_book_path(@book), class:"btn btn-sm btn-success edit_book_76189" %>
              </td>
              <td>
                <%= link_to 'Destroy', book_path(@book), method: :delete, class:"btn btn-sm btn-danger destroy_book_76189", "data-confirm" => "本当に削除しますか？" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <h2>Comments</h2>
      <table class="table">
        <tbody class="comments_index">
          <%= render 'book_comments/comment_index', book: @book %>
        </tbody>
      </table>
      <div>
        <%= render 'book_comments/comment_new', book: @book, book_comment: @book_comment %></div>
      </div>
    </div>
  </div>
</div>